
*.obj
*.db
*.lastbuildstate
*.tlog
*.pdb
*.log
*.ilk
*.exe
*.bat
*.idb
SM64FM/x64/Debug/SM64FM.vcxproj.FileListAbsolute.txt
*.ipdb
*.iobj
*.recipe
*.enc
*.user
*.exe
*.db
*.user
*.filters
*.sqlite
*.json
