[Desktop Entry]
Type=Application
Name=SM64 Save File Manager
GenericName=SM64 SFM
Comment=Super Mario 64 Save File editor
Comment[en]=A SM64 save file editor, converter, and repaierer
Exec=/usr/local/bin/sm64sfm
Terminal=false
Categories=Utilities
Keywords=sm64;Super;Mario;64;manager;converter;
